.window {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid grey;
    text-align: center;
    width: 45%;
    min-width: 400px;
    background-color: #666;
    padding: 5px;
    border-radius: 10px;
    margin: 20px 20px 10px;

}/* Desktop */
@media (min-width: 1255px) {
    .window {
        float: left;
        width: 45%;
        min-width: 400px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
    }
}
/* Tablet */
@media (min-width: 715px) and (max-width: 1255px) {
    .window {
        width: 95%;
        height: 46%;
        min-width: 400px;
        margin: 5px auto 10px;
    }
}
/* Mobile */
@media (max-width: 715px) {
    .window {
        width: 98%;
        min-width: 390px;
        margin: 5px auto 10px;
    }
}